*.json filter=lfs diff=lfs merge=lfs -text
subset_euro_2024.json filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
euro2024_players.csv filter=lfs diff=lfs merge=lfs -text
